/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.10.2020, 08:27:40
    Author     : marlo0212
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 2px;
  background-color: #fdf5e6;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 5px;
  margin: 2px 0 2px 0;
  display: inline-block;
  border: none;
  background: #e8e8e8;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color:#1f3a93;/* #4CAF50;*/
  color: blue;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.acceptbtn {
  background-color:#00e640;/* #4CAF50;*/
  color: black;
  padding: 2px 2px;
  margin: 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.deniebtn {
  background-color:#f7ca18;/* #4CAF50;*/
  color: black;
  padding: 2px 2px;
  margin: 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
}
.deletebtn {
  background-color:#f0ff00;/* #4CAF50;*/
  color: black;
   padding: 2px 2px;
  margin: 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
}

.blockbtn {
  background-color:#e87e04;/* #4CAF50;*/
  color: black;
  padding: 2px 2px;
  margin: 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
}
/*
input[type=submit]{
  background-color: #7befb2;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
input[type=delete]{
  background-color: #fabe58;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}*/
.registerbtn:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

